{% extends 'base.html' %} {%load static%} {% block title %}twowheeler{% endblock title %} {% block body %}
<style>
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
    }
    /* Style the header */
    
    .header {
        background-color: #f1f1f1;
        padding: 20px;
        text-align: center;
    }
    /* Style the top navigation bar */
    
    .topnav {
        overflow: hidden;
        background-color: #333;
    }
    /* Style the topnav links */
    
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    /* Change color on hover */
    
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    /* Create three equal columns that floats next to each other */
    
    .column {
        float: left;
        width: 33.33%;
        padding: 15px;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    
    @media screen and (max-width:600px) {
        .column {
            width: 100%;
        }
    }
</style>

<body>
    <div class="row">
        <div class="column">
            <img src="{% static 'img/bike.png'%}" alt=" " class="img-responsive" />
            <!--img src="{% static 'img/3.png'%}" alt=" " class="img-responsive" /-->
        </div>

        <div class="column">
            <form class="row g-3" method="post" action="/two" id="form1">
                {%csrf_token%}
                <!-- <div class="container"> -->
                <div class="col-mb-3">
                    <label for="inputname" class="form-label"> Full Name</label>
                    <input type="text" class="form-control" id="inputname" name="owner">
                </div>
                <div class="col-mb-3">
                    <label for="inputregno" class="form-label">Vehical Registration Number</label>
                    <input type="text" class="form-control" id="inputregno" name="regno">
                </div>
                <div class="col-mb-3">
                    <div class="col-mb-3">
                        <label class="input-group-text" for="inputGroupSelect02">Challan type</label>
                        <br>
                        <div style="overflow: auto; ">
                            <select class="form-select" id="inputGroupSelect02" name="chalantype" style="max-width: 100%; overflow:auto; input: border width 20px;">
                                
                            <option selected>Offence..............</option>
                            
                            <option value="100">Tripling on two-wheeler - INR.100/-  </option>
                            <option value="500">Vehicle driven by minor  -  INR.500/- </option>
                            <option value="1000">Mobile usage while driving - INR.1000/- </option>
                            <option value="10000">Driving under the influence of drugs - INR.10000/ </option>
                            <option value="100" >Driving  with offensive  number plates -INR.100/-</option>
                            <option value="4500">Displaying number plate as ‘applied for’ - INR. 4500/-</option>
                            <option value="1000">Jumping signal - INR.1000  </option>
                            <option value="1000" style="width: fit-content;" > scrapping of license for three months -INR.1000</option></select>
                        </div>
                    </div>
                </div>
                <div class="col-mb-3">
                    <label for="inputamt" class="form-label"> Challan Amount(INR)</label>
                    <input type="intezer" class="form-control" id="inputamt" name="amt">


                    <br>
                    <div class="input col-sm-12">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                    <hr>
                </div>
            </form>
            </form>
        </div>
    </div>
    </div>
    </div>

    <div class="column">

    </div>
    </div>

    <script src=" {% static 'js/four.js' %} "></script>
    {% endblock body %}