{% extends 'base.html' %} {%load static%} {% block title %}All Records {% endblock title %} {% block body %}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td,
    th {
        border: 1px solid #02b420;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #bccbf7;
    }
</style>
</head>

<body>
    <div class="container">
        <div class="container  col-md-3">
            <div class="mb-3">
                <form class="d-flex" method="POST" action="{% url 'search_nongear' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search by Vehicle's registration number" aria-label="Search" name="nongearsearch">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

    <hr>
    <div class="container">
        <h4>Your search results for {{nongearsearch}} are-</h4>
    </div>
    <hr>
    <div class="container">
        <table>
            <tr>
                <th>Date</th>
                <th>Reg. NO</th>
                <th>Owner</th>
                <th>Challan Type</th>
                <th>Amount</th>
            </tr>
            {% if nongearsearch %} {% for search in search_list5 %}
            <tr>
                <td>{{search.date}}</th>
                    <td> {{search}}</td>
                    <td>{{search.owner}}</td>
                    <td>{{search.chalantype}}</td>
                    <td>{{search.amt}}</td>
            </tr>
            {%endfor%}{% else %}
            <h4>you have entered a invalid regestration number of non geared vehical</h4>
            {%endif%}

        </table>
    </div>
    <hr>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{%endblock body%}

</html>