{%extends 'base.html'%} {% block title %} checknamasearch {% endblock title %} {% block body %}




<!-- <!DOCTYPE html>
<html> -->

<!-- <head>
    <title>search checknama regno</title> -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td,
    th {
        border: 1px solid #02b420;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #bccbf7;
    }
</style>
</head>

<body>

    <hr>
    <div class="container">
        <h4>Your search results for {{checknamasearch}} are -</h4>
    </div>
    <hr>
    <div class="container">
        <table>
            <tr>
                <th>Date</th>
                <th>Reg. No.</th>
                <th>Owner</th>
                <th>Vehical Type</th>
                <th>Challan No.</th>
            </tr>
            {% if checknamasearch %} {% for search in search_list11 %}
            <tr>
                <td>{{search.date}}</th>
                    <td> {{search.regno}}</td>
                    <td>{{search.name}}</td>
                    <td>{{search.vt}}</td>
                    <td>{{search.chalanno}}</td>
            </tr>
            {%endfor%}{% else %}
            <h4>You have entered a invalid regestration number</h4>
            {%endif%}

        </table>
    </div>
    <hr>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock body %}

</html>