{% extends 'base.html' %} {% block title %}contact{% endblock title %} {% block body %}
<form method="post" action="/contact">
    {%csrf_token%} {% load static %}

    <div class="banner-bottom-icons" style="background:url('static/img/2765.jpg');">
        <div class="container">
            <table>
                <tr><img src="{% static 'img/3.png'%}" alt=" " class="img-responsive" /></tr>
                <tr>
                    <h3>CONTACT US</h3>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="container">
                <div class="container  col-md-6">
                    <div class="mb-3">
                        <label for="name" class="form-label">NAME</label>
                        <textarea class="form-control" id="name" name="name" rows="1"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">PHONE</label>
                        <textarea class="form-control" id="phone" name="phone" rows="1"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">EMAIL</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="queries" class="form-label">QUERIES</label>
                        <textarea class="form-control" id="queries" name="queries" rows="3"></textarea>
                    </div>
                    <br></br>
                    <div class="input col-sm-12,mb-3">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock body %}