<!DOCTYPE html>
<html lang="en">

<head>
    <title>{%block title%} {% endblock title%}dto koderma</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Driving School Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //custom-theme -->
    {% load static%}
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js'%}"></script>
    <script src="{%static 'js/main.js'%}"></script>
    <!-- //js -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/flexslider.css'%}" type="text/css" media="screen" property="" />
    <!-- //font-awesome-icons -->

    <link href="//fonts.googleapis.com/css?family=Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">

</head>

<body>

    <!-- banner -->


    <div id="cd-search" class="cd-search">
        <form action="" method="post">
            <input name="Search" type="search" placeholder="Search...">
        </form>
    </div>
    </div>
    </div>
    <div class="clearfix"></div>

    </div>
    <div class="header-bottom">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

                <h1><span style=" color: #098541;font-family: 'Lucida Console', Courier, monospace;">DTO KODERMA</span></h1>

            </div>
            <div class="agileinfo-social-grids">
                <ul>
                    {% load static %}

                    <li><span id='time'></span></li>
                    <li><img src="{%static 'img/6.png'%}"></li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav class="link-effect-2" id="link-effect-2">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/"><span data-hover="Home" style="color: hsl(172, 87%, 22%);"><strong>HOME</strong></span></a></li>
                        <li class="dropdown"> {% if request.user.is_staff%}
                            <a href="/e-challan" class="dropdown-toggle" data-toggle="dropdown"><span data-hover="E-CHALLAN" style="color: #07685b;">E-CHALLAN</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu agile_short_dropdown">
                                <li><a href="/two">TWO WHEELER</a></li>
                                <li><a href="/four">FOUR WHEELER</a></li>
                                <li><a href="/nongear">NON GEARED VEHICLE</a></li>
                            </ul>
                        </li> {%endif%}
                        <li class="dropdown">
                            {% if request.user.is_staff%}
                            <a href="/report" class="dropdown-toggle" data-toggle="dropdown"><span data-hover="REPORT" style="color: hsl(172, 87%, 22%);">REPORT</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu agile_short_dropdown">
                                <li><a href="/two_list">TWO WHEELER</a></li>
                                <li><a href="/four_list">FOUR WHEELER</a></li>
                                <li><a href="/nongear_list">NON GEARED VEHICLE</a></li>
                                <li><a href="/all_list">ALL RECORDS</a></li>
                            </ul>
                            {%endif%}
                        </li>{% if request.user.is_staff%}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-hover="CHECK-NAKA" style="color: hsl(172, 87%, 22%);">CHECK-NAKA</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu agile_short_dropdown">
                                <li><a href="/checknama">CHALLAN ENRTY</a></li>
                                <li><a href="/check_list"> CHALLAN RECORDS</a></li>
                            </ul>
                        </li>
                        {%endif%}{% if request.user.is_staff%}
                        <li><a href="/contact"><span data-hover="GET TO US" style="color: hsl(172, 87%, 22%);">CONTACT US</span></a></li>{%endif%}
                        <li><a href="/grievance"><span data-hover="COMPLAIN" style="color: hsl(172, 87%, 22%);">GRIEVANCE</span></a></li>
                        <li><a href="/sop"><span data-hover="SOP" style="color: hsl(172, 87%, 22%);">SOP</span></a></li>
                        <li><a href="/logout"><span data-hover="LOGOUT" style="color: hsl(172, 87%, 22%);">LOGOUT</span></a></li>
                    </ul>
                </nav>
            </div>

        </nav>
    </div>
    {% if messages %} {% for message in messages %}

    <div class="alert alert-{{ message.tags }}warning alert-dismissible show" role="alert">
        <strong>{{ message }}</strong>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>{% endfor %} {% endif %}
    </div>
    {% block body %} {% endblock body%}

    <div class="w3-agile-footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid">
                    <div class="footer-grid-heading">
                        <h4>Address</h4>
                    </div>
                    <div class="footer-grid-info">
                        <p>Ranchi patna road,
                            <span>Koderma DTO Office.</span>
                        </p>
                        <p class="phone">Phone : xxxxxxxxxx
                            <span>Email : <a href="mailto:example@email.com">mail@example.com</a></span>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 footer-grid">
                    <div class="footer-grid-heading">
                        <h4>Navigation</h4>
                    </div>
                    <div class="footer-grid-info">
                        <ul>
                            <li><a href="/">Home</a></li>

                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/e-challan">E-Challan</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 footer-grid">
                    <div class="footer-grid-heading">
                        <h4>Useful Links</h4>
                    </div>
                    <div class="footer-grid-info">
                        <ul>
                            <li><a href="https://parivahan.gov.in/parivahan/">Apply for DL</a></li>
                            <li><a href="https://jofs.jhpolice.gov.in/">Register  online FIR</a></li>
                            <li><a href="https://jharbhoomi.nic.in/jhrlrmsmis/">Land Records</a></li>
                            <li><a href="https://echallan.jhpolice.gov.in/">Jharkhand e-challan</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 footer-grid">
                    <div class="footer-grid-heading">
                        <h4>Twitter Post<span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                        </h4>
                    </div>
                    <div class="w3agile_footer_grid_list w3agile-post">
                        <ul>
                            <li><i class="fa fa-twitter" aria-hidden="true"></i>Koderma DC <a href="https://twitter.com/dckoderma?lang=en">@twitter</a></li>
                            <li><i class="fa fa-twitter" aria-hidden="true"></i>Jharkhand CMO <a href="https://twitter.com/jharkhandcmo?lang=en">@twitter</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="agileits-w3layouts-copyright">
                <p>© 2021 DTO KODERMA. All Rights Reserved | Designed by Aditya & Aman </p>
            </div>
        </div>
    </div>
    </div>
    <script>
        setInterval(() => {
            a = new Date();
            let time = a.getHours() + ':' + a.getMinutes() + ':' + a.getSeconds()
            document.getElementById('time').innerHTML = time;
        }, 1000);
    </script>
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>

    <!-- //footer -->

    <!-- start-smooth-scrolling -->
    <script type="text/javascript " src="{% static 'js/move-top.js'%} "></script>
    <script type="text/javascript " src="{% static 'js/easing.js'%} "></script>
    <script type="text/javascript ">
        jQuery(document).ready(function($) {
            $(".scroll ").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smooth-scrolling -->
    <!-- for bootstrap working -->
    <script src="{% static 'js/bootstrap.js'%} "></script>
    <!-- //for bootstrap working -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript ">
        $(document).ready(function() {
            /*
            	var defaults = {
            	containerID: 'toTop', // fading element id
            	containerHoverID: 'toTopHover', // fading element hover id
            	scrollSpeed: 1200,
            	easingType: 'linear' 
            	};
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>

</html>