 {% extends 'base.html' %} {% block title %}HOME{% endblock title %} {% block body %}
<div class="container">
    <div class="banner" style="background:url('static/img/2765.jpg');">

        <div class="container">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="agileits_w3layouts_banner_info">
                                <h3 style="color: #0c0c0c;">Welcome to DTO KODERMA Portal.</h3>
                                <div class="agileits_w3layouts_banner_info_pos">
                                    <ul>
                                        <li style="color: #0c0c0c;"><a href="https://koderma.nic.in/" style="color: #0c0c0c;"><strong>Know About Koderma</strong></a><label></label></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>

                            <div class="agileits_w3layouts_banner_info">
                                <h3 style="color: #0c0c0c;">DIGITAL INDIA</h3>
                                <p style="color: #0c0c0c;"> MAKING INDIA digital.</p>
                                <div class="agileits_w3layouts_banner_info_pos">
                                    <ul>
                                        <li><a href="https://twitter.com/_digitalindia" style="color: #0c0c0c;">Twitter</a><label></label></li>
                                        <li><a href="https://www.instagram.com/OfficialDigitalIndia/" style="color: #0c0c0c;">Instagram</a><label></label></li>
                                        <li><a href="https://www.facebook.com/OfficialDigitalIndia/" style="color: #0c0c0c;">Facebook</a><label></label></li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </section>
        </div>

        <!-- flexSlider -->{% load static%}
        <script defer src="{% static 'js/jquery.flexslider.js'%}"></script>
        <script type="text/javascript">
            $(window).load(function() {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function(slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!-- //flexSlider -->

    </div>
</div>
<hr>
<br>

<!-- //banner -->
<!-- banner-bottom-icons -->
<div class="banner-bottom-icons">
    <div class="container">
        <div class="w3l-heading">
            <h2 class="w3ls_head">Our Services </h2>
        </div>
        <div class="col-md-4 w3_banner_bottom_icons_left hover15">
            <div class="w3_agile_banner_bottom">
                <figure><img src="{% static 'img/1.jpg'%}" alt=" " class="img-responsive" /></figure>
            </div>
        </div>
        <div class="col-md-8 w3_banner_bottom_icons_right">
            <div class="col-xs-6 w3_banner_bottom_icons1">
                <div class="w3_banner_bottom_icons1_effect">
                    <i class="fa-car"></i>
                    <h3>Apply For Driving License</h3>
                    <li><a href="https://sarathi.parivahan.gov.in">Apply Here</a></li>
                    <p></p>
                </div>
            </div>
            <div class="col-xs-6 w3_banner_bottom_icons1">
                <div class="w3_banner_bottom_icons1_effect">
                    <i class="fa-bell"></i>
                    <h3>E-Challan</h3>
                    <li><a href="https://echallan.parivahan.gov.in">E-challan</a></li>
                    <p></p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>



{% endblock body %}