 ​ {% extends 'base.html' %} {%load static%} {% block title %}All_lists | {% endblock title %} {% block body %}

<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    #customers tr:hover {
        background-color: #ddd;
    }
    
    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
</style>
</head>

<body>
    <div class="container">
        <table id="customers">
            <!-- <td style="border: 0px #f5dcda">
            <img src="{% static 'img/3.png'%}"></td> -->
            <td style="border: 0px #f5dcda">
                <h3>Search By Date</h3>
                <form method="POST">

                    {% csrf_token %} From:
                    <input type='date' name="fromdate" /> To:
                    <input type='date' name="todate" />
                    <input type="submit" value="search" /></form>
            </td>

        </table>
    </div>
    <div class="container">
        <table id="customers">
            <tr>
                <form class="d-flex" method="POST" action="{% url 'search_regno' %}">
                    {% csrf_token %}
                    <th><input class="form-control me-2" type="search" placeholder="Search by Vehicle's registration number" aria-label="Search" name="searched"></th>
                    <th style="width:40px;"> <button class="btn btn-outline-success" type="submit" style="background-color: #04AA6D; color: white;">Search</button></th>
                </form>
            </tr>
        </table>


        <table id="customers">
            <tr>
                <th>Date</th>
                <th>Reg. NO</th>
                <th>Owner</th>
                <th>Challan Type</th>
                <th>Amount</th>
            </tr>

            {%for result in displaydata1 %}
            <tr>
                <td>{{result.date}}</td>
                <td>{{result.regno}}</td>
                <td>{{result.owner}}</td>
                <td>{{result.chalantype}}</td>
                <td>{{result.amt}}</td>
            </tr>
            {%endfor%} {%for result in displaydata2 %}
            <tr>
                <td>{{result.date}}</td>
                <td>{{result.regno}}</td>
                <td>{{result.owner}}</td>
                <td>{{result.chalantype}}</td>
                <td>{{result.amt}}</td>
            </tr>
            {%endfor%}{%for result in displaydata3 %}
            <tr>
                <td>{{result.date}}</td>
                <td>{{result.regno}}</td>
                <td>{{result.owner}}</td>
                <td>{{result.chalantype}}</td>
                <td>{{result.amt}}</td>
            </tr>
            {%endfor%}
        </table>
        <hr>
        <table id="customers">
            <tr>
                <th>Total Challan Amount</th>
                <th>{{sum}} {{sum1}}</th>
            </tr>
        </table>
    </div>

    <hr> {%endblock body%}

    </html>
    ​​ ​ ​ ​ ​